extends ./layout.jade

block title
    title Login

block content
    form.form-signin(action='index', method='POST')
        h1 Please sign in
        input.form-control(type='text', placeholder='Email address')
        input.form-control.last(type='password', placeholder='Password')
        input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Sign in')
