.well p:last-child {
    margin-bottom: 0px;
}

.form-signin {
    max-width: 330px;
    padding: 25% 15px 15px 15px;
    margin: 0 auto;
}

.form-signin h1 {
    font-size: 26px;
}

.form-signin h1,
.form-signin .form-control.last {
    margin-bottom: 15px;
}

.form-signin .form-control {
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    border-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type=submit] {
    float: left;
}

.form-signin .actions {
    position: relative;
    margin-bottom: 20px;
}

.form-signin p.signup {
    float: left;
    padding: 7px 0px 0px 10px;
    margin-bottom: 0px;
}

.form-signup .form-group:last-child {
    margin-top: -15px;
}

.form-signup input[type=submit] {
    margin: 25px 0px;
}

.form-signup .terms {
    font-size: 11px;
}

.page-header {
    position: relative;
}

.page-header a.logout {
    position: absolute;
    top: 5px;
    right: 0px;
}
